html, body {
    font-family: 'Signika', sans-serif;
}
body {
    background:  linear-gradient(0deg, #4286b400, #4286b4f0);
}
nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
    background: steelblue;
}
nav a {
    color: white;
    text-decoration: none;
    white-space: nowrap;
}
main {
    padding: 3rem;
}
section.business-card {
    position: relative;
    margin: 0 auto;
    height: 300px;
    width: 535px;
    border-radius: 100px 5px 5px;
    background: linear-gradient(0deg, rgba(1, 17, 51, 0.9), rgba(0, 0, 0, 0.45)),
                center / cover no-repeat url('/assets/flatgrid.jpeg');
    color: white;
    overflow: hidden;
}
div.me {
    position: absolute;
    top: 0.65rem;
    left: 0.75rem;
    max-width: 33%;
}
div.me div.potrait {
    border-radius: 50%;
    height: 185px;
    width: 180px;
    background: center bottom / contain no-repeat url('/assets/HDprofile.jpeg'), rgb(216, 206, 212);
}
div.me h1 {
    font-weight: 500;
    font-size: 28px;
    margin: 0.5rem auto;
    text-align: center;
}
div.me h2 {
    font-size: 22px;
    font-weight: 200;
}
.business-card hr {
    transform: translate(-50px, 170px) rotate(-70deg);
    width: 500px;
    /* height: 0px; */
    border: 0;
    box-shadow: 0 0 10px 1px steelblue;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
hr.hr-right {
    transform: translate(200px, 170px) rotate(-70deg);
}
div.details {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 55%;
    text-align: left;
}
div.details h2 {
    margin-left: 3rem;
    margin-bottom: 0;
}
div.details a {
    display: block;
    line-height: 1.5rem;
    width: 115px;
    border: 1px solid steelblue;
    border-radius: 18px;
    margin: 0.5rem auto;
    padding: 0.1rem 0.5rem;
    letter-spacing: 2px;
    color: steelblue;
}
div.details a:visited {
    color: coral;
}
div.details a:hover {
    background: lightblue;
}
div.details p {
    margin: 0 auto;
    letter-spacing: 2px;
}
div.details p:nth-child(2){
    margin-left: 5rem;
}
div.details p:nth-child(3){
    margin-left: 4.5rem;
}
div.details p:nth-child(4){
    margin-left: 4rem;
}
div.details p:nth-child(5){
    margin-left: 3.5rem;
}
div.details a:nth-child(6){
    margin-top: 1rem;
    margin-left: 3rem;
}
div.details a:nth-child(7){
    margin-left: 2rem;
}
div.details a:nth-child(8){
    margin-left: 1rem;
}
div.details a:nth-child(9){
    margin-left: 0;
}
main > hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
ul h3 {
    text-align: center;
    font-weight: 900;
    font-size: 22px;
    margin: 0 auto 1rem;
}

#Experience h1,
#Experience h2,
#Experience h4,
#Experience h5,
#Experience h6 {
    margin: 0;
    display: inline-block;
}
#Experience div, #Education div {
    font-size: 17px;
}
#Experience div.role {
    font-weight: 700;
    font-size: 18px;
    margin-left: 0.75rem;
}
#Experience span, #Education span {
    font-weight: 200;
    font-size: 13px;
    letter-spacing: 0.5px;
}
#Experience p, #Education p {
    font-weight: 400;
    font-size: 11px;
    margin: 0 auto 1rem;
    letter-spacing: 0.5px;
    line-height: 15px;
    margin-left: 0.75rem;
}
#Education .emphasize {
    font-size: 13px;
}

.content-cards {
    height: 240px;
}

@media (max-width: 767px) {
    section.business-card {
        width: auto;
        height: 360px;
        background-size: cover;
        margin: 0.5rem;
    }
    div.details {
        width: 60%;
    }
}