html, body {
    font-family: 'Signika', sans-serif;
}
body {
    background:  linear-gradient(0deg, #4286b400, #4286b4f0);
}
nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
    background: steelblue;
}
nav a {
    color: white;
    text-decoration: none;
    white-space: nowrap;
}
section.business-card {
    position: relative;
    margin: 0 auto;
    height: 300px;
    width: 535px;
    border-radius: 90px 5px 5px;
    background:  linear-gradient(0deg, rgba(255, 255, 255, 0.90), rgba(255, 255, 255, 0.75)),
     center / contain no-repeat 
     url(https://images.pexels.com/photos/753869/pexels-photo-753869.jpeg?cs=srgb\u0026dl=aerial-aerial-shot-aerial-view-753869.jpg\u0026fm=jpg);
    color: #2d2d4d;
    overflow: hidden;
}
div.me {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    max-width: 33%;
}
div.me div.potrait {
    border-radius: 50%;
    height: 185px;
    width: 180px;
    border: 1px solid #2d2d4d;
    background: center bottom / contain no-repeat url('/assets/HDprofile.jpeg');
}
div.me h1 {
    font-weight: 500;
    font-size: 28px;
    margin: 0.5rem auto;
    text-align: center;
}
div.me h2 {
    font-size: 22px;
    font-weight: 200;
}
.business-card hr {
    transform: translate(-50px, 170px) rotate(-70deg);
    width: 500px;
    /* height: 0px; */
    border: 0;
    box-shadow: 0 0 10px 1px black;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
div.details {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 55%;
    text-align: left;
}
div.details div:nth-child(2){
    margin-left: 4rem;
}
div.details div:nth-child(3){
    margin-left: 7rem;
}
div.details div:nth-child(4){
    margin-left: 6rem;
}
div.details div:nth-child(5){
    margin-left: 5rem;
}
div.details div:nth-child(6){
    margin-left: 4rem;
}
div.details div:nth-child(7){
    margin-left: 3rem;
}
div.details div:nth-child(8){
    margin-left: 2rem;
}
main > hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
ul h3 {
    text-align: center;
    font-weight: 900;
    font-size: 22px;
    margin: 0 auto 1rem;
}

#Experience h1,
#Experience h2,
#Experience h4,
#Experience h5,
#Experience h6 {
    margin: 0;
    display: inline-block;
}
#Experience div, #Education div {
    font-size: 17px;
}
#Experience div.role {
    font-weight: 700;
    font-size: 18px;
    margin-left: 0.75rem;
}
#Experience span, #Education span {
    font-weight: 200;
    font-size: 13px;
    letter-spacing: 0.5px;
}
#Experience p, #Education p {
    font-weight: 400;
    font-size: 11px;
    margin: 0 auto 1rem;
    letter-spacing: 0.5px;
    line-height: 15px;
    margin-left: 0.75rem;
}
#Education .emphasize {
    font-size: 13px;
}

.content-cards {
    height: 240px;
}

@media (max-width: 767px) {
    section.business-card {
        width: auto;
        height: 360px;
        background-size: cover;
        margin: 0.5rem;
    }
    div.details {
        width: 60%;
    }
}