*, *:before, *:after {
    box-sizing: border-box;
}
body {
    color: #444;
    overflow-y: scroll;
}
html {
    background-color: #fcfcfc;
}
body {
    width:  100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #fcfcfc;
}
.stacked-cards h2 {
    text-align: center;
    position: relative;
    top: -20px;
}
.container-fixed {
    max-width: 767px;
    margin: 0 auto;
}
.stacked-cards {
    padding-top: 40px;
    padding-bottom: 15px;
}

.stacked-cards-fanOut {
    padding-bottom: 40px;
}
.stacked-cards-fanOut li img {
    max-height: 200px;
}
.stacked-cards li {
    height: auto;
}
.stacked-cards li {
    background: #f9f9fa;
}

.stacked-cards li:nth-child(1) {
    border-left: 25px solid #3599db;
}

.stacked-cards li:nth-child(2) {
    border-left: 25px solid #e61b77;
}

.stacked-cards li:nth-child(3) {
    border-right: 25px solid #8E4497;
}

.stacked-cards li:nth-child(4) {
    border-right: 25px solid #f4b251;
}

.stacked-cards {
    position: relative;
}
.stacked-cards ul {
    position: relative;
    max-width: 60%;
    margin: 0 auto;
    padding-left: 0;
}

.stacked-cards li {
    margin-top: 5px;
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0px #333;
    list-style: none;
    width: 95%;
    position: absolute;
    left: 50%;
    transition: 0.5s ease transform;
}

.stacked-cards li:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.stacked-cards li img {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    z-index: 4;
}
.stacked-cards li.active {
    cursor: default;
    box-shadow: 0 5px 10px 0px #333;
    transition: 0.5s ease transform;
}
@media (max-width: 767px) {
    .stacked-cards ul {
        max-width: 95%;
    }
    .stacked-cards li {
        height: 500px;
        overflow-y: scroll;
    }
}