body {
    background: linear-gradient(135deg, yellow, coral);
    height: 100vh;
}
* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    /* height: 300px; */
    width: 400px;
    margin: 0 auto;
}
.grid.medium {
    width: 600px;
}
.grid.hard {
    width: 700px;
}
.restart {
    margin: 1rem;
    background: steelblue;
    color: white;
    padding: 0.25rem;
    border: 3px solid steelblue;
    border-radius: 5px;
}
[data-id] {
    border: 1px solid #555;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    pointer-events: none;
    background: lavender;
}
.backside {
    background: linear-gradient(45deg, violet, steelblue);
    pointer-events: all !important;
}
.backside > span {
    opacity: 0;
}